[submodule "src/quakespasm"]
	path = src/quakespasm
	url = https://github.com/sezero/quakespasm.git
[submodule "src/quakespasm-spiked"]
	path = src/quakespasm-spiked
	url = https://github.com/Shpoike/Quakespasm.git
[submodule "src/vkquake"]
	path = src/vkquake
	url = https://github.com/Novum/vkQuake.git
